body {
    .header-wraper-about {
        background-image: url(../img/about-img.png);
        height: 580px;
        padding-bottom: 86px;
        .header-color-about {
            height: 580px;
        }
        h2 {
            width: 175px;
            height: 86px;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            @media ( max-width: 768px ) {
                width:175px;
                font-size: 65px;
            }
            @media ( max-width: 480px ) {
                width: 175px;
                font-size: 65px;
            }
        }
    }
    .about-section-1 {
        @extend %width;
        height: 464px;
        @include d-flex(flex, center, center);
        background-color: #FFF7EC;        
        @media ( max-width:1100px ) {
            padding: 50px 0;
            height: auto;
        }
        .about-s1-box {
            max-width: 1086px;
            width: 100%;
            height: 344px;
            @include d-flex(flex, space-between, center);
            @media (max-width: 1100px) {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                height: auto;
            }
            @media (max-width: 768px) {
                width: 450px;
            }
            img {
                width: 528px;
                height: 344px;
                @media (max-width: 768px) {
                    width: 100%;
                    height: auto;
                }
            }
            .about-s1-minibox {
                max-width: 528px;
                width: 100%;
                height: 257px;
                @include d-flex(flex, space-between, flex-start);
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                @media (max-width: 1100px ) {
                    margin-top: 30px;
                }
                h3 {
                    width: 100%;
                    height: 65px;
                    font-family: $pd-reg;
                    font-size: 49px;
                    color: #51453A;
                    padding-top: 8px;
                }
                p {
                    &:nth-child(2){
                        @extend %under-line;
                    }
                }
                p {
                    &:nth-child(3) {
                        width: 100%;
                        height: 80px;
                        font-family: $m-reg;
                        font-size: 16px;
                        color: #51453A;
                        overflow: hidden;
                        &:hover {
                            overflow: auto;
                            height: 100px;
                            background-color: rgb(230, 237, 240);
                        }
                    }
                }
                          
            }

        }
    }
    .about-section-2 {
        @extend %width;
        height: 464px;
        @include d-flex(flex, center, center);
        background-color: #FFFFFF;
        @media ( max-width:1100px ) {
            padding: 50px 0;
            height: auto;
        }
        .about-s2-box {
            max-width: 1086px;
            width: 100%;
            height: 344px;
            @include d-flex(flex, space-between, center);
            @media (max-width: 1100px) {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                height: auto;
            }
            @media (max-width: 768px) {
                width: 450px;
            }
            .about-s2-minibox {
                max-width: 528px;
                width: 100%;
                height: 257px;
                @include d-flex(flex, space-between, flex-start);
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                h3 {
                    width: 100%;
                    height: 65px;
                    font-family: $pd-reg;
                    font-size: 49px;
                    color: #51453A;
                    padding-top: 8px;
                }
                p {
                    &:nth-child(2){
                        @extend %under-line;
                    }
                }
                p {
                    &:nth-child(3) {
                        width: 100%;
                        height: 80px;
                        font-family: $m-reg;
                        font-size: 16px;
                        color: #51453A;
                        overflow: hidden;
                        &:hover {
                            overflow: auto;
                            height: 100px;
                            background-color: rgb(230, 237, 240);
                        }
                    }
                }                           
            }
            img {
                max-width: 528px;
                height: 344px;
                @media (max-width: 1100px ) {
                    margin-top: 30px;
                }
                @media (max-width: 768px) {
                    max-width: 528px;
                    width: 100%;
                    height: auto;
                }
            }

        }
    }
    .about-section-3 {
        @extend %width;
        height: 464px;
        @include d-flex(flex, center, center);
        background-color: #FFF7EC;        
        @media ( max-width:1100px ) {
            padding: 50px 0;
            height: auto;
        }
        .about-s3-box {
            max-width: 1086px;
            width: 100%;
            height: 344px;
            @include d-flex(flex, space-between, center);
            @media (max-width: 1100px) {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                height: auto;
            }
            @media (max-width: 768px) {
                width: 450px;
            }
            img {
                width: 528px;
                height: 344px;
                @media (max-width: 768px) {
                    width: 100%;
                    height: auto;
                }
            }
            .about-s3-minibox {
                max-width: 528px;
                width: 100%;
                height: 257px;
                @include d-flex(flex, space-between, flex-start);
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                @media (max-width: 1100px ) {
                    margin-top: 30px;
                }
                h3 {
                    width: 100%;
                    height: 65px;
                    font-family: $pd-reg;
                    font-size: 49px;
                    color: #51453A;
                    padding-top: 8px;
                    @media (max-width: 480px ) {
                        font-size: 38px;
                    }
                }
                p {
                    &:nth-child(2){
                        @extend %under-line;
                    }
                }
                p {
                    &:nth-child(3) {
                        width: 100%;
                        height: 80px;
                        font-family: $m-reg;
                        font-size: 16px;
                        color: #51453A;
                        overflow: hidden;
                        &:hover {
                            overflow: auto;
                            height: 100px;
                            background-color: rgb(230, 237, 240);
                        }
                    }
                }
                          
            }

        }
    }
    .about-section-4 {
        @extend %width;
        height: 464px;
        @include d-flex(flex, center, center);
        background-color: #FFFFFF;
        @media ( max-width:1100px ) {
            padding: 50px 0;
            height: auto;
        }
        .about-s4-box {
            max-width: 1086px;
            width: 100%;
            height: 344px;
            @include d-flex(flex, space-between, center);
            @media (max-width: 1100px) {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                height: auto;
            }
            @media (max-width: 768px) {
                width: 450px;
            }
            .about-s4-minibox {
                max-width: 528px;
                width: 100%;
                height: 257px;
                @include d-flex(flex, space-between, flex-start);
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                h3 {
                    width: 100%;
                    height: 65px;
                    font-family: $pd-reg;
                    font-size: 49px;
                    color: #51453A;
                    padding-top: 8px;
                    @media (max-width: 480px ) {
                        font-size: 38px;
                    }
                }
                p {
                    &:nth-child(2){
                        @extend %under-line;
                    }
                }
                p {
                    &:nth-child(3) {
                        width: 100%;
                        height: 80px;
                        font-family: $m-reg;
                        font-size: 16px;
                        color: #51453A;
                        overflow: hidden;
                        &:hover {
                            overflow: auto;
                            height: 100px;
                            background-color: rgb(230, 237, 240);
                        }
                    }
                }                           
            }
            img {
                max-width: 528px;
                height: 344px;
                
                @media (max-width: 1100px ) {
                    margin-top: 30px;
                }
                @media (max-width: 768px) {
                    max-width: 528px;
                    width: 100%;
                    height: auto;
                }
            }

        }
    }


}