

@mixin d-flex($display, $justyfy, $align) {
        display: $display;
        justify-content: $justyfy;
        align-items: $align;
}
@mixin border($width, $type, $color) {
    border: $width $type $color;
}

@mixin transition-hover($property, $duration, $type, $delay) {
    transition: $property, $duration, $type, $delay ;
}





